Repository iphysresearch/GWData-Bootcamp, pull requests merged in 2023-12, with the labels that each got.

#124 Homework
  2023/homework/Yuan-Kun_Gao/numpy_submit.txt
  2023/homework/Yuan-Kun_Gao/pandas_submit.txt
  2023/homework/Yuan-Kun_Gao/python_submit.txt
Labels: Python homeworking

#134 Homework
  2023/homework/LiuRan/numpy_submit.txt
  2023/homework/LiuRan/pandas_submit.txt
  2023/homework/LiuRan/python_submit.txt
Labels: Python homeworking

#132 Homework
  2023/homework/Yuwen_Zi-Yan/numpy_submit.txt
  2023/homework/Yuwen_Zi-Yan/pandas_submit.txt
  2023/homework/Yuwen_Zi-Yan/python_submit.txt
Labels: Python homeworking

#154 Homework 2023/12/03
  2023/homework/Mai_Qiao/numpy_submit.txt
  2023/homework/Mai_Qiao/pandas_submit.txt
  2023/homework/Mai_Qiao/python_submit.txt
Labels: Python homeworking

#143 Homework_python
  2023/homework/Zixuan_Zhang/numpy_submit.txt
  2023/homework/Zixuan_Zhang/pandas_submit.txt
  2023/homework/Zixuan_Zhang/python_submit.txt
Labels: Python homeworking

#146 Homework python
  2023/homework/Bangsheng_Yin_BNU/numpy_submit.txt
  2023/homework/Bangsheng_Yin_BNU/pandas_submit.txt
  2023/homework/Bangsheng_Yin_BNU/python_submit.txt
Labels: Python homeworking

#159 homework_1 summit
  2023/homework/ZhenYangHuang_UCAS/numpy_submit.txt
  2023/homework/ZhenYangHuang_UCAS/pandas_submit.txt
  2023/homework/ZhenYangHuang_UCAS/python_submit.txt
Labels: Python homeworking

#164 submit homework of python,numpy and pandas
  2023/homework/Kaige_Kang/numpy_submit.txt
  2023/homework/Kaige_Kang/pandas_submit.txt
  2023/homework/Kaige_Kang/python_submit.txt
Labels: Python homeworking

#165 Homework
  2023/homework/YinDa_Guo/numpy_submit.txt
  2023/homework/YinDa_Guo/pandas_submit.txt
  2023/homework/YinDa_Guo/python_submit.txt
Labels: Python homeworking

#168 Matplotlib & Seaborn Homework
  2023/homework/Fanyun_He/homework-matplotlib_seaborn.ipynb
Labels: Visualization Homework

#150 Homework2
  2023/homework/Jun_Fan/ExtensionTasks.txt
  2023/homework/Jun_Fan/numpy_submit.txt
  2023/homework/Jun_Fan/pandas_submit.txt
  2023/homework/Jun_Fan/python_submit.txt
Labels: Python homeworking

#113 Basic HW of Python/Numpy/Pandas
  2023/homework/JiangYang/homework-matplotlib.ipynb
  2023/homework/JiangYang/numpy_submit.txt
  2023/homework/JiangYang/pandas_submit.txt
  2023/homework/JiangYang/python_submit.txt
Labels: Python homeworking, Visualization Homework

#166 python_submit
  2023/homework/Zou_Zenghui/Leetcode_submit.txt
  2023/homework/Zou_Zenghui/numpy_submit.txt
  2023/homework/Zou_Zenghui/pandas_submit.txt
  2023/homework/Zou_Zenghui/python_submit.txt
Labels: Python homeworking

#167 Homework
  2023/homework/LiuShiRui/numpy_submit.txt
  2023/homework/LiuShiRui/pandas_submit.txt
  2023/homework/LiuShiRui/python_submit.txt
Labels: Python homeworking

#179 Add homework for python/numpy/pandas
  2023/homework/Meng_Xiaofeng/numpy_submit.txt
  2023/homework/Meng_Xiaofeng/pandas_submit.txt
  2023/homework/Meng_Xiaofeng/python_submit.txt
Labels: Python homeworking

#182 homework2
  2023/homework/Qihang_Shen/numpy_submit.txt
  2023/homework/Qihang_Shen/pandas_submit.txt
  2023/homework/Qihang_Shen/python_submit.txt
Labels: Python homeworking

#188 Homework
  2023/homework/Yuhao_Dong-LZU/numpy_submit.txt
  2023/homework/Yuhao_Dong-LZU/pandas_submit.txt
  2023/homework/Yuhao_Dong-LZU/python_submit.txt
Labels: Python homeworking

#187 Homework of WangZun
  2023/homework/Zun_Wang/numpy_submit.txt
  2023/homework/Zun_Wang/pandas_submit.txt
  2023/homework/Zun_Wang/python_submit.txt
Labels: Python homeworking

#191 Homework
  2023/homework/xueyadong/numpy_submit.txt
  2023/homework/xueyadong/pandas_submit.txt
  2023/homework/xueyadong/python_submit.txt
Labels: Python homeworking

#185 Homework Python Part
  .gitignore
  2023/homework/ZHANG_YUE/hello_SDYZZY
  2023/homework/ZHANG_YUE/numpy_submit.txt
  2023/homework/ZHANG_YUE/pandas_submit.txt
  2023/homework/ZHANG_YUE/python_submit.txt
Labels: Python homeworking

#193 Add files via upload
  2023/homework/xueyadong/homework-matplotlib_seaborn.ipynb
Labels: Visualization Homework

#162 Homework
  2023/homework/Tan_Chen/matplotlib_seaborn_submit.ipynb
  2023/homework/Tan_Chen/numpy_submit.txt
  2023/homework/Tan_Chen/pandas_submit.txt
  2023/homework/Tan_Chen/python_submit.txt
Labels: Python homeworking, Visualization Homework

#197 Add files via upload
  2023/homework/Bangsheng_Yin_BNU/homework_matplotlib.ipynb
Labels: Visualization Homework

#198 matplotlib 和 seaborn数据可视化Homework
  2023/homework/LiuRan/matplotlib_homework.ipynb
  2023/homework/LiuRan/seaborn_homework.ipynb
Labels: Visualization Homework

#200 Homework: Figure 7
  2023/homework/YinDa_Guo/Fig_7_GWTC3_submit.ipynb
Labels: Visualization Homework

#201 Homework12-20
  2023/homework/XuWeiZhang-UCAS/LeetcodeHW.ipynb
  2023/homework/XuWeiZhang-UCAS/homework-matplotlib_seaborn.ipynb
  2023/homework/XuWeiZhang-UCAS/numpy_submit.txt
  2023/homework/XuWeiZhang-UCAS/pandas_submit.txt
  2023/homework/XuWeiZhang-UCAS/python_submit.txt
Labels: Python homeworking

#189 Python homework 1 try 231217
  2023/homework/Fengjie_Tang/hello.py
  2023/homework/Fengjie_Tang/numpy_submit.txt
  2023/homework/Fengjie_Tang/pandas_submit.txt
  2023/homework/Fengjie_Tang/python_submit.txt
Labels: Python homeworking

#203 数据可视化作业
  2023/homework/Yuwen_Zi-Yan/homework-matplotlib_seaborn.ipynb
Labels: Visualization Homework

#125 Homework
  2023/homework/zoujing23/homework 12.08.ipynb
  2023/homework/zoujing23/numpy_submit.txt
  2023/homework/zoujing23/pandas_submit.txt
  2023/homework/zoujing23/python_submit.txt
  2023/homework/zoujing23/we.txt
Labels: Python homeworking, Visualization Homework

#208 homework for GWTC-3
  2023/homework/Yuan-Kun_Gao/GWTC3.ipynb
Labels: Visualization Homework

#210 Homework revised
  2023/homework/Yuwen_Zi-Yan/homework-matplotlib.ipynb
  2023/homework/Yuwen_Zi-Yan/homework-seaborn.ipynb
Labels: Visualization Homework

#212 Submit matplotlib/seaborn homework.
  2023/homework/Meng_Xiaofeng/homework-matplotlib.ipynb
  2023/homework/Meng_Xiaofeng/homework-seaborn.ipynb
Labels: Visualization Homework

#214 Homework_credit_scoring
  2023/homework/YinDa_Guo/credit_scoring_submit.ipynb
Labels: machine_learning level 0

#142 Add files via upload
  2023/homework/PingShen/homework-leetcode.ipynb
  2023/homework/PingShen/homework-matplotlib_seaborn.ipynb
  2023/homework/PingShen/homework-seaborn.ipynb
  2023/homework/PingShen/numpy_submit.txt
  2023/homework/PingShen/pandas_submit.txt
  2023/homework/PingShen/python_submit.txt
Labels: Python homeworking, Visualization Homework

#211 add my homework3
  2023/homework/Jun_Fan/homework-matplotlib.ipynb
  2023/homework/Jun_Fan/homework-seaborn.ipynb
Labels: Visualization Homework

#218 Homework for Python, Numpy, Pandas
  2023/homework/HongSu/numpy_submit.txt
  2023/homework/HongSu/pandas_submit.txt
  2023/homework/HongSu/python_submit.txt
Labels: Python homeworking

#219 GWTC3作业
  2023/homework/shanleilei/4_GWTC3.ipynb
Labels: Visualization Homework

#221 Add files via upload
  2023/homework/Shoupan_Liu/README.md
  2023/homework/Shoupan_Liu/homework-matplotlib版.ipynb
  2023/homework/Shoupan_Liu/homework-seaborn版.ipynb
Labels: Visualization Homework

#226 machine learning homework
  2023/homework/zoujing23/homework_credit_scoring.ipynb
  2023/homework/zoujing23/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#174 homework
  2023/homework/jixiang_shao/Leetcode_tasks.txt
  2023/homework/jixiang_shao/numpy_submit.txt
  2023/homework/jixiang_shao/pandas_submit.txt
  2023/homework/jixiang_shao/python_submit.txt
Labels: Python homeworking

#220 Add files via upload
  2023/homework/HanPeijia/homework_seaborn.ipynb
  2023/homework/HanPeijia/numpy_submit.txt
  2023/homework/HanPeijia/pandas_submit.txt
  2023/homework/HanPeijia/python_submit.txt
Labels: Python homeworking

#229 2023-12-28 homework-matplotlib作业
  2023/homework/Fengjie_Tang/homework-matplotlib.ipynb
Labels: Visualization Homework

#231 Homework for GWTC3
  2023/homework/Shoupan_Liu/README.md
  2023/homework/Shoupan_Liu/homework_GWTC3.ipynb
Labels: Visualization Homework

#232 Homework for Matplotlib & Seaborn
  2023/homework/HongSu/homework-matplotlib_seaborn.ipynb
Labels: Visualization Homework

#234 homework_2 and homework_3
  2023/homework/ZhenYangHuang_UCAS/homework-matplotlib_seaborn.ipynb
  2023/homework/ZhenYangHuang_UCAS/homework_credit_scoring.ipynb
  2023/homework/ZhenYangHuang_UCAS/homework_credit_scoring_finetune_ensemble.ipynb
Labels: Visualization Homework

#247 Matplotlib and Seaborn Homework (reviewed)
  2023/homework/Yuhao_Dong-LZU/homework-matplotlib.ipynb
  2023/homework/Yuhao_Dong-LZU/homework-seaborn.ipynb
Labels: Visualization Homework

#246 Homework (reviewed)
  2023/homework/Meng_Xiaofeng/homework_credit_scoring.ipynb
  2023/homework/Meng_Xiaofeng/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#245 Zenghui Zou's Matplotlib and Seaborn homework (reviewed)
  2023/homework/Zou_Zenghui/homework-matplotlib_Zou.ipynb
  2023/homework/Zou_Zenghui/homework-seaborn_Zou.ipynb
Labels: Visualization Homework

#241 提交了matplotlib可视化作业与机器学习作业 (reviewed)
  2023/homework/xueyadong/homework-matplotlib.ipynb
  2023/homework/xueyadong/homework_credit_scoring.ipynb
  2023/homework/xueyadong/homework_credit_scoring_finetune_ensemble.ipynb
Labels: Visualization Homework, machine_learning level 0

#239 Homework_credit_scoring_finetune_ensemble (reviewed)
  2023/homework/YinDa_Guo/credit_scoring_finetune_ensemble_submit.ipynb
Labels: machine_learning level 1

#238 模型建模和模型调优作业 (reviewed)
  2023/homework/LiuRan/homework_credit_scoring.ipynb
  2023/homework/LiuRan/homework_credit_scoring_finetune_ensemble (1).ipynb
Labels: machine_learning level 0, machine_learning level 1

#236 Homework for machine learning (reviewed)
  2023/homework/Yuan-Kun_Gao/homework_credit_scoring.ipynb
  2023/homework/Yuan-Kun_Gao/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#235 Homework
  2023/homework/Libinchen/helloworld
  2023/homework/Libinchen/numpy_submit.txt
  2023/homework/Libinchen/pandas_submit.txt
  2023/homework/Libinchen/python_submit.txt
Labels: Python homeworking

#228 Python Homework of Hong_Jiang
  2023/homework/Hong_Jiang/homework-matplotlib.ipynb
  2023/homework/Hong_Jiang/numpy_submit.txt
  2023/homework/Hong_Jiang/pandas_submit.txt
  2023/homework/Hong_Jiang/python_submit.txt
Labels: Python homeworking, Visualization Homework

#248 Homework
  2023/homework/Libinchen/helloworld
  2023/homework/Libinchen/homework-matplotlib_seaborn.ipynb
Labels: Visualization Homework

#249 Credit Scoring Homework
  2023/homework/Yuhao_Dong-LZU/homework_credit_scoring.ipynb
Labels: machine_learning level 0

#250 Homework for Figure 7 from the GWTC-3
  2023/homework/HongSu/4-GWTC3.ipynb
Labels: Visualization Homework

#251 Homework 2023-12-31 seaborn作业
  2023/homework/Fengjie_Tang/homework-seaborn.ipynb
Labels: Visualization Homework
