Repository iphysresearch/GWData-Bootcamp, pull requests merged in 2024-01, with the labels that each got.

#240 Homework
  2023/homework/Wencong_Hong/numpy_submit.txt
  2023/homework/Wencong_Hong/pandas_submit.txt
  2023/homework/Wencong_Hong/python_submit.txt
Labels: Python homeworking

#255 ML-Homework
  2023/homework/XuWeiZhang-UCAS/homework_credit_scoring.ipynb
  2023/homework/XuWeiZhang-UCAS/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#256 机器学习作业
  2023/homework/PingShen/homework_credit_scoring.ipynb
  2023/homework/PingShen/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#260 Credit scoring finetune ensemble Homework
  2023/homework/Yuhao_Dong-LZU/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 1

#264 Zenghui Zou's homework_credit_scoring
  2023/homework/Zou_Zenghui/homework_credit_scoring_Zou.ipynb
Labels: machine_learning level 0

#270 Add files via upload
  2023/homework/HanPeijia/homework_matplotlib.ipynb
Labels: Visualization Homework

#271 massion complished! 我滴任务完成了！
  2023/homework/Shoupan_Liu/README.md
  2023/homework/Shoupan_Liu/homework_credit_scoring.ipynb
  2023/homework/Shoupan_Liu/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#272 2024-01-03 Homework GWTC+机器学习1
  2023/homework/Fengjie_Tang/homework-GWTC3.ipynb
  2023/homework/Fengjie_Tang/homework_credit_scoring.ipynb
Labels: Visualization Homework, machine_learning level 0

#276 Homework
  2023/homework/jixiang_shao/homework-matplotlib_submit.ipynb
  2023/homework/jixiang_shao/homework-seaborn_submit.ipynb
Labels: Visualization Homework

#277 Wangzun（second homework of ML）
  2023/homework/Zun_Wang/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 1

#254 1.1
  2023/homework/Haihao_Shi-UCAS/homework-matplotlib_seaborn.ipynb
  2023/homework/Haihao_Shi-UCAS/homework_credit_scoring.ipynb
  2023/homework/Haihao_Shi-UCAS/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/Haihao_Shi-UCAS/numpy_submit.txt
  2023/homework/Haihao_Shi-UCAS/pandas_submit.txt
  2023/homework/Haihao_Shi-UCAS/python_submit.txt
Labels: Python homeworking, Visualization Homework, machine_learning level 0, machine_learning level 1

#280 Homework for Python
  2023/homework/Zhao_Hao/hello_world
  2023/homework/Zhao_Hao/homework-matplotlib.ipynb
  2023/homework/Zhao_Hao/leetcode162.png
  2023/homework/Zhao_Hao/leetcode1784.png
  2023/homework/Zhao_Hao/leetcode1869.png
  2023/homework/Zhao_Hao/leetcode434.png
  2023/homework/Zhao_Hao/leetcode852.png
  2023/homework/Zhao_Hao/numpy_submit.txt
  2023/homework/Zhao_Hao/pandas_submit.txt
  2023/homework/Zhao_Hao/python_submit.txt
Labels: Python homeworking, Visualization Homework

#281 Homework
  2023/homework/Jingqi-Lai/GWTC-3-parameter-estimation.ipynb
  2023/homework/Jingqi-Lai/KaggleCredit2.csv.zip
  2023/homework/Jingqi-Lai/homework_credit_scoring.ipynb
  2023/homework/Jingqi-Lai/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/Jingqi-Lai/matplotlib-seaborn.ipynb
  2023/homework/Jingqi-Lai/numpy_submit.txt
  2023/homework/Jingqi-Lai/pandas_submit.txt
  2023/homework/Jingqi-Lai/python_submit.txt
  2023/homework/Jingqi-Lai/test.ipynb
Labels: Python homeworking

#205 Homework
  2023/homework/qingcheng_li/4-GWTC3 _submit.ipynb
  2023/homework/qingcheng_li/homework-matplotlib_seaborn_submit.ipynb
  2023/homework/qingcheng_li/homework_credit_scoring_finetune_ensemble_submit.ipynb
  2023/homework/qingcheng_li/homework_credit_scoring_submit.ipynb
  2023/homework/qingcheng_li/numpy_submit.txt
  2023/homework/qingcheng_li/pandas_submit.txt
  2023/homework/qingcheng_li/python_submit.txt
Labels: Python homeworking, Visualization Homework, machine_learning level 0, machine_learning level 1

#206 Homework
  2023/homework/CaoXu/homework-matplotlib_seaborn.ipynb
  2023/homework/CaoXu/numpy_submit.txt
  2023/homework/CaoXu/pandas_submit.txt
  2023/homework/CaoXu/python_submit.txt
Labels: Python homeworking, Visualization Homework

#223 python&numpy&pandas&数据可视化matplotlib作业
  2023/homework/Jingrui_Zhang/homework-matplotlib.ipynb
  2023/homework/Jingrui_Zhang/homework_credit_scoring.ipynb
  2023/homework/Jingrui_Zhang/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/Jingrui_Zhang/numpy_submit.txt
  2023/homework/Jingrui_Zhang/pandas_submit.txt
  2023/homework/Jingrui_Zhang/python_submit.txt
Labels: Python homeworking, Visualization Homework, machine_learning level 0, machine_learning level 1

#267 Homework
  2023/homework/Yangpan/hello_world
  2023/homework/Yangpan/homework-matplotlib_seaborn.ipynb
  2023/homework/Yangpan/numpy_submit.txt
  2023/homework/Yangpan/pandas_submit.txt
  2023/homework/Yangpan/python_submit.txt
Labels: Python homeworking, Visualization Homework

#273 Homework Py-basic
  2023/homework/GeyuQin/homework-matplotlib_seaborn.ipynb
  2023/homework/GeyuQin/numpy_submit.txt
  2023/homework/GeyuQin/pandas_submit.txt
  2023/homework/GeyuQin/python_submit.txt
Labels: Python homeworking, Visualization Homework

#275 homework
  2023/homework/Qiuzhichong/homework-matplotlib_seaborn.ipynb
  2023/homework/Qiuzhichong/numpy_submit.txt
  2023/homework/Qiuzhichong/pandas_submit.txt
  2023/homework/Qiuzhichong/python_submit.txt
Labels: Python homeworking, Visualization Homework

#285 Homework
  2023/homework/Libinchen/homework_credit_scoring.ipynb
  2023/homework/Libinchen/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/Libinchen/homework_matplotlib.ipynb
Labels: Visualization Homework, machine_learning level 0, machine_learning level 1

#287 Add Sklearn Homework
  2023/homework/Hong_Jiang/homework_credit_scoring.ipynb
  2023/homework/Hong_Jiang/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#288 Add files via upload
  2023/homework/LiuShiRui/homework_credit_scoring.ipynb
  2023/homework/LiuShiRui/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/LiuShiRui/homework_matplotlib.ipynb
  2023/homework/LiuShiRui/homework_seaborn.ipynb
Labels: Visualization Homework, machine_learning level 0, machine_learning level 1

#289 homework for machine_learning1+machine_learning2
  2023/homework/HongSu/homework_credit_scoring.ipynb
  2023/homework/HongSu/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#291 Homework on matplotlib
  2023/homework/Wencong_Hong/homework_matplotlib.ipynb
Labels: Visualization Homework

#292 Add files via upload
  2023/homework/HanPeijia/homework_credit_scoring.ipynb
  2023/homework/HanPeijia/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#296 Create numpy_submit.txt
  2023/homework/Mingsenyang_NAOC/numpy_submit.txt
Labels: Python homeworking

#297 Create pandas_submit.txt
  2023/homework/Mingsenyang_NAOC/pandas_submit.txt
Labels: Python homeworking

#298 Create python_submit.txt
  2023/homework/Mingsenyang/python_submit.txt
Labels: Python homeworking

#299 Homework matplotlib and seaborn
  2023/homework/Mai_Qiao/homework-matplotlib.ipynb
  2023/homework/Mai_Qiao/homework-seaborn.ipynb
Labels: Visualization Homework

#302 homework_credit_scoring_finetune_ensemble
  2023/homework/Zou_Zenghui/homework_credit_scoring_finetune_ensemble_Zou.ipynb
Labels: machine_learning level 1

#305 Visualization homework update @ ML homework add
  2023/homework/zl_zhou/homework-matplotlib_seaborn.ipynb
  2023/homework/zl_zhou/homework_credit_scoring_finetune_ensemble.ipynb
Labels: Visualization Homework, machine_learning level 1

#304 Homework
  2023/homework/qingcheng_li/leetcode_submit.ipynb
Labels: Python homeworking

#306 240104 Homework 机器学习作业2
  2023/homework/Fengjie_Tang/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 1

#307 add homework
  2023/homework/Mengdeshuang/homework_credit_scoring.ipynb
  2023/homework/Mengdeshuang/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 0, machine_learning level 1

#308 完成机器学习基础作业1：分类器模型
  2023/homework/GeyuQin/homework_credit_scoring.ipynb
Labels: machine_learning level 0

#152 Homework
  2023/homework/Xingye_Yang/homework-matplotlib_seaborn.ipynb
  2023/homework/Xingye_Yang/homework_credit_scoring.ipynb
  2023/homework/Xingye_Yang/numpy_submit.txt
  2023/homework/Xingye_Yang/pandas_submit.txt
  2023/homework/Xingye_Yang/python_submit.txt
Labels: Python homeworking, Visualization Homework, machine_learning level 0

#312 Homework
  2023/homework/Yangpan/GWTC3.ipynb
  2023/homework/Yangpan/homework_credit_scoring.ipynb
  2023/homework/Yangpan/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/Yangpan/homework_matplotlib.ipynb
Labels: Visualization Homework, machine_learning level 0, machine_learning level 1

#295 homework
  2023/homework/zhu_zhiqing/homework-matplotlib_seaborn.ipynb
  2023/homework/zhu_zhiqing/homework_credit_scoring.ipynb
  2023/homework/zhu_zhiqing/numpy_submit.txt
  2023/homework/zhu_zhiqing/pandas_submit.txt
  2023/homework/zhu_zhiqing/python_submit.txt
Labels: Python homeworking, Visualization Homework, machine_learning level 0

#313 GWTC3 credit_scoring credit_scoring_finetune_ensemble
  2023/homework/Qiuzhichong/GWTC3.ipynb
  2023/homework/Qiuzhichong/homework_credit_scoring.ipynb
  2023/homework/Qiuzhichong/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/Qiuzhichong/homework_matplotlib.ipynb
Labels: Visualization Homework, machine_learning level 0, machine_learning level 1

#300 python_numpy_pandas+seaborn可视化+credit_scoring+finetune(全部基础作业)
  2023/homework/Xiyan_Liao/homework_credit_scoring.ipynb
  2023/homework/Xiyan_Liao/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/Xiyan_Liao/homework_seaborn.ipynb
  2023/homework/Xiyan_Liao/numpy_submit.txt
  2023/homework/Xiyan_Liao/pandas_submit.txt
  2023/homework/Xiyan_Liao/python_submit.txt
Labels: Python homeworking, Visualization Homework

#301 Add homework for <SpecificHomework>
  2023/homework/Xunqian_Chen/homework-matplotlib_seaborn.ipynb
  2023/homework/Xunqian_Chen/numpy_submit.txt
  2023/homework/Xunqian_Chen/pandas_submit.txt
  2023/homework/Xunqian_Chen/python_submit.txt
  2023/homework/Xunqian_Chen/python扩展作业.txt
Labels: Python homeworking, Visualization Homework

#314 resubmit python basic homework
  2023/homework/wangtianlong/homework-matplotlib.ipynb
  2023/homework/wangtianlong/homework-seaborn.ipynb
  2023/homework/wangtianlong/homework_credit_scoring.ipynb
  2023/homework/wangtianlong/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/wangtianlong/numpy_submit.txt
  2023/homework/wangtianlong/pandas_submit.txt
  2023/homework/wangtianlong/python_submit.txt
Labels: Python homeworking, Visualization Homework, machine_learning level 0, machine_learning level 1

#315 Add files via upload
  2023/homework/Libinchen/GWTC3.ipynb
Labels: Visualization Homework

#317 Update matplotlib version homework-matplotlib_seaborn.ipynb
  2023/homework/Hansong_Chang/homework-matplotlib_seaborn.ipynb
Labels: Visualization Homework

#320 Homework
  2023/homework/wangyifan/GWTC3.ipynb
  2023/homework/wangyifan/hello
  2023/homework/wangyifan/homework-matplotlib_seaborn.ipynb
  2023/homework/wangyifan/homework_credit_scoring.ipynb
  2023/homework/wangyifan/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/wangyifan/homework_matplotlib.ipynb
  2023/homework/wangyifan/numpy_submit.txt.txt
  2023/homework/wangyifan/pandas_submit.txt.txt
  2023/homework/wangyifan/python_submit.txt.txt
  README.md
Labels: Python homeworking, Visualization Homework, machine_learning level 0, machine_learning level 1

#321 homework done!
  2023/homework/Zhao_Hao/4-GWTC3_submit.ipynb
  2023/homework/Zhao_Hao/hello_world
  2023/homework/Zhao_Hao/homework-seaborn.ipynb
  2023/homework/Zhao_Hao/homework_credit_scoring.ipynb
  2023/homework/Zhao_Hao/homework_credit_scoring_finetune_ensemble.ipynb
Labels: Visualization Homework, machine_learning level 0, machine_learning level 1

#322 Homework [python, numpy, pandas & matplotlib]
  2023/homework/Xiaokang_Li/homework-matplotlib.ipynb
  2023/homework/Xiaokang_Li/numpy_submit.txt
  2023/homework/Xiaokang_Li/pandas_submit.txt
  2023/homework/Xiaokang_Li/python_submit.txt
Labels: Python homeworking, Visualization Homework

#323 Homework
  2023/homework/Qihang_Shen/homework-matplotlib_seaborn.ipynb.ipynb
Labels: Visualization Homework

#111 text2
  2023/homework/Xiaoyang_Hui/numpy_submit.txt
  2023/homework/Xiaoyang_Hui/pandas_submit.txt
  2023/homework/Xiaoyang_Hui/python_submit.txt
Labels: Python homeworking

#119 Homework
  2023/homework/MeiSheng_Zhang/homework-matplotlib_seaborn.ipynb
  2023/homework/MeiSheng_Zhang/numpy_submit.txt
  2023/homework/MeiSheng_Zhang/pandas_submit.txt
  2023/homework/MeiSheng_Zhang/python_submit.txt
Labels: Python homeworking, Visualization Homework

#120 Create python_submit.txt
  2023/homework/Ye_lishuang/python_submit.txt
Labels: Python homeworking

#128 Homework
  2023/homework/Yinqi_Zhu/numpy_submit.txt
  2023/homework/Yinqi_Zhu/pandas_submit.txt
  2023/homework/Yinqi_Zhu/python_submit.txt
  2023/homework/Yinqi_Zhu/test.py
Labels: Python homeworking

#190 my python first homework
  2023/homework/Jiabao_Ma/homework-matplotlib_seaborn.ipynb
  2023/homework/Jiabao_Ma/numpy_submit.txt
  2023/homework/Jiabao_Ma/pandas_submit.txt
  2023/homework/Jiabao_Ma/python_leecode_162
  2023/homework/Jiabao_Ma/python_leecode_1784
  2023/homework/Jiabao_Ma/python_leecode_1869
  2023/homework/Jiabao_Ma/python_leecode_852
  2023/homework/Jiabao_Ma/python_leetcode_434
  2023/homework/Jiabao_Ma/python_submit.txt
Labels: Python homeworking

#262 Add homework
  2023/homework/ZhouJunda/homework-matplotlib_seaborn.ipynb
  2023/homework/ZhouJunda/homework_credit_scoring.ipynb
  2023/homework/ZhouJunda/homework_credit_scoring_finetune_ensemble.ipynb
  2023/homework/ZhouJunda/numpy_submit.txt
  2023/homework/ZhouJunda/pandas_submit.txt
  2023/homework/ZhouJunda/python_submit.txt
Labels: Python homeworking, Visualization Homework, machine_learning level 0, machine_learning level 1

#278 python basic Homework
  2023/homework/Zhao_ShaoDong/231203_numpy/choose.md
  2023/homework/Zhao_ShaoDong/231203_numpy/numpy_submit.txt
  2023/homework/Zhao_ShaoDong/231203_pandas/choose.md
  2023/homework/Zhao_ShaoDong/231203_pandas/pandas_submit.txt
  2023/homework/Zhao_ShaoDong/231203_python/choose.md
  2023/homework/Zhao_ShaoDong/231203_python/python_submit.txt
  2023/homework/Zhao_ShaoDong/231203_python/select_answer.py
Labels: Python homeworking

#283 MingsenYang_NAOC
  2023/homework/mingsenyang/leetcode162.c
  2023/homework/mingsenyang/leetcode1784.c
  2023/homework/mingsenyang/leetcode1869.c
  2023/homework/mingsenyang/leetcode434.c
  2023/homework/mingsenyang/leetcode852.c
  2023/homework/mingsenyang/numpy_submit.txt
  2023/homework/mingsenyang/python_submit.txt
Labels: Python homeworking

#286 Homework
  2023/homework/Tengfei_Li/hello world.md
  2023/homework/Tengfei_Li/numpy_submit.txt
  2023/homework/Tengfei_Li/pandas_submit.txt
  2023/homework/Tengfei_Li/python_submit.txt
Labels: Python homeworking

#325 Add files via upload
  2023/homework/CaoXu/homework_credit_scoring_finetune_ensemble.ipynb
Labels: machine_learning level 1
